<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
  </head>
  <body>
    <header></header>
    <div class="container">
      <h2>User Form</h2>
      <form action="" method="POST">
        <div class="form-group">
          <label for="users">Input User</label>
          <input type="text" name="users" />
        </div>
        <button class="button" type="submit">submit</button>
      </form>
    </div>
  </body>
</html>
